[submodule "Sorting-Tool-Client"]
	path = Sorting-Tool-Client
	url = https://github.com/Quocanhtp/Sorting-Tool-Client.git
[submodule "client"]
	path = client
	url = https://github.com/Quocanhtp/client.git
